@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
body {
    margin-top: 100px;
    background-color: #1A181B;
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    cursor: default;
    user-select: none;
    /*transform: scale(1.4);*/
    overflow: hidden; 
}
#baner {
    font-size: 60px;
    background: -webkit-linear-gradient(#00ccff, #008cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;

}
#baner:hover {
    transform: scale(1.05);

}
#drag1:hover, #drag2:hover, #drag3:hover, #drag4:hover, #drag5:hover, #drag6:hover, #drag7:hover, #drag8:hover, #drag9:hover, #drag10:hover {
    transform: scale(1.1);
    transition: 0.1s;
}
table {
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
    margin: auto;
    float:left;
    border-color: #EFE6DD;
}
.pole {
    background: none;
    border-style: none;
    padding: 0;margin: 0;
    width: 100%;
    height: 100%;
    border-color: #EFE6DD;

}
.pole:hover {
    background-color: rgba(255, 255, 255, 0.103);
}
td {
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;

}

#polaKomputera {
    width: 364px;
    height: 364px;
    margin: auto;
    float: left;
    margin-right: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0;
}
#polaGracza {
    width: 364px;
    height: 364px;
    margin: auto;
    float: left;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0;
}
#container {
    margin-top: 100px;
    padding-top: 40px;
    text-align: center;
    margin: auto;
    width: 748px;
}
#rozpocznij {
    background: none;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 10px;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
    color: #1A181B;
}
#rozpocznij:hover {
    transform: scale(1.1);  
    transition: 0.08s;
}

#statki {
    display: block;
}
.statek {
    float: left;
    background-color: whitesmoke;
    margin-right: 5px;
    height: 30px;
}
#strzalyGracza{
    float:left;
    width: 50%;
}
#strzalyKomputera{
    float:left;
    width: 50%;
}
#statki {
    text-align: center;
}