body {
    background-color: #111;
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
    margin: auto;
    float:left;
}
.pole {
    background: none;
    border-style: none;
    padding: 0;margin: 0;
    width: 100%;
    height: 100%;
}
.pole:hover {
    background-color: rgba(255, 255, 255, 0.103);
}
td {
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 0;
}

#polaKomputera {
    width: 364px;
    height: 364px;
    margin: auto;
    float: left;
    margin-right: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
#polaGracza {
    width: 364px;
    margin: auto;
    float: left;
}
#container {
    padding-top: 40px;
    text-align: center;
    margin: auto;
    width: 748px;
}
#rozpocznij {
    background: none;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 10px;
    font-size: 32px;
}

#statki {
    display: block;
}
.statek {
    float: left;
    background-color: whitesmoke;
    margin-right: 5px;
    height: 30px;
}